<div class="my-templates col-lg-12 row">
  <h3>My Templates</h3>
  <br>
  
  <div class="col-md-12">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
      <% categories.forEach(function(category){ %>
        <li><a href="#<%= category.replace(/ +/g, "") %>" data-toggle="tab"><%= category %></a></li>       
      <% }) %>
      </ul>
            
      <div class="tab-content">        
        <% _.each(categories, function(category){ %>        
        <div class="tab-pane" id="<%= category.replace(/ +/g, "") %>">
          <div class="row">
            <div class="box box-solid">
            <% var allTemplates = _.filter(atemplates.models, function(t) { return t.get('category') === category }) %>  
              
            <% _.each(allTemplates, function(atemplate){ %> 
              <a href="#/atemplates/<%= atemplate.escape('id') %>">
                <div class="col-lg-4">
                  <div class="box-header">
                    <h3 class="box-title"><%= atemplate.escape('title') %></h3>
                  </div>
                  <div class="box-body">
                    <p>
                      <a href="#/atemplates/<%= atemplate.escape('id') %>"><%= atemplate.escape('description') %></a><br>
                      <a href="#/atemplates/<%= atemplate.escape('id') %>/edit">Edit</a>
                    </p>
                  </div>                
                </div> 
              </a>             
            <% }); %>                                
            </div>
          </div>                  
        </div>
        <% }); %>
      </div>
    </div>
  </div>
  
  <div class="col-xs-10 col-xs-offset-1">
    <a href="#/atemplates/new" class='create-template'>Create new template</a>  
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('ul > li:first-child').addClass('active');
    $('.tab-content > div:first-child').addClass('active');
  });
</script>