<section class="content-header col-lg-12" style="padding-bottom: 30px;">
  <h1>My Templates</h1>
  <a href="#/atemplates/new" class='btn btn-primary btn-xs'>New Template</a>
</section>

<div class="col-lg-12">
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
    <% categories.forEach(function(category){ %>
      <li><a href="#<%= category.replace(/ +/g, "") %>" data-toggle="tab"><%= category %></a></li>       
    <% }) %>
    </ul>
          
    <div class="tab-content">        
      <% _.each(categories, function(category){ %>        
      <div class="tab-pane" id="<%= category.replace(/ +/g, "") %>">
        <div class="row">                        
          <% var allTemplates = _.filter(atemplates.models, function(t) { return t.get('category') === category }) %>
          <% _.each(allTemplates, function(atemplate){ %> 
          <div class="col-md-4">
            <a href="#/atemplates/<%= atemplate.escape('id') %>">            
              <div class="box box-success" class='click-box'>
                <div class="box-header">
                  <h3 class="box-title"><%= atemplate.escape('description') %></h3>
                </div>
                <div class="box-body">
                  <p><%= atemplate.escape('title') %></p>
                </div>
                <div class="box-footer">
                    <a href="#/atemplates/<%= atemplate.escape('id') %>/edit">Edit</a>
                </div>              
              </div>            
            </a>             
          </div>                                                             
          <% }); %>              
        </div>                  
      </div>
      <% }); %>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    $('ul > li:first-child').addClass('active');
    $('.tab-content > div:first-child').addClass('active');
  });
</script>