<div class="my-templates col-lg-12 row">
  <h3>My Templates</h3>
  <br>
  
  <div class="col-md-12">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
      <% atemplates.forEach(function(atemplate){ %>
        <li><a href="#<%= atemplate.escape('category') %>" data-toggle="tab"><%= atemplate.escape('category') %></a></li>       
      <% }) %>
      </ul>
            
      <div class="tab-content">
        
        <% atemplates.forEach(function(atemplate){ %>        
        <div class="tab-pane active" id="<%= atemplate.escape('category') %>">
          <p>
            <a href="#/atemplates/<%= atemplate.id %>"><%= atemplate.escape('description') %></a><br>
            <a href="#/atemplates/<%= atemplate.id %>/edit">Edit</a>
          </p>
        </div>
        <% }) %>        
      </div>
    </div>
  </div>
  
  <div class="col-xs-10 col-xs-offset-1">
    <a href="#/atemplates/new" class='create-template'>Create new template</a>  
  </div>
</div>
