<footer id="footer">
  <div class="copyright container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        © <%= Date.now.year %>. AlistPress Co.
        <%= link_to 'Terms of Service', page_path('terms') %>
        <%= link_to 'Privacy', page_path('privacy') %>
      </div>
    </div>
  </div>
</footer>

<%= render partial: 'home/modal' %>

<%= render partial: 'layouts/tracker' %>