<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Alistpress" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Alistpress - Templates for all" %>">
  <%= csrf_meta_tags %>

  <!-- Meta -->
  <%= favicon_link_tag '/assets/favicon.png' %>
  <meta name="og:title" content="Alistpress">
  <meta name="og:type" content="website">
  <meta name="og:url"  content="#">

  <!-- Styles -->
  <%= stylesheet_link_tag "application", :media => "all" %>

  <!-- Javascripts -->
  <%= javascript_include_tag "application" %>  
</head>