<!DOCTYPE html>
<html>
<%= render partial: 'layouts/head' %>
<body>
  <% if !user_signed_in? || current_page?('/users/edit') %>  
    <%= render partial: 'layouts/navbar' %>  
  <% end %>
  
  <%= render partial: 'layouts/messages' %>

  <% if current_page?('/') %>  
  <div id="wrap">  
  <% else %>
  <div id="wrap" class="container">
  <% end %>
    <%= yield %>
  </div>

  <%= render partial: 'layouts/footer' %>
</body>
</html>
