<!DOCTYPE html>
<html>
<%= render partial: 'layouts/head' %>
<body>
  <%= render partial: 'layouts/navbar' %>
  <%= render partial: 'layouts/messages' %>

  <div class="container" id="wrap">  
    <%= yield %>
  </div>

  <%= render partial: 'layouts/footer' %>
</body>
</html>
